APP_NAME=market-screener
IMAGE_TAG=latest

AZ_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
AZ_RESOURCE_GROUP=rg-market-screener
AZ_LOCATION=westeurope
AZ_ACR_NAME=marketscreeneracr
AZ_CONTAINERAPPS_ENV=market-screener-env
